@using MvcBasic.Models
@model Comment

@{
    ViewBag.Title = "title";
    var article = Model.Article;
}

<h2>NavigationWithComment</h2>

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => article.Title)</dt>
    <dd>@Html.DisplayFor(model => article.Title)</dd>
    <dt>@Html.DisplayNameFor(model => article.Category)</dt>
    <dd>@Html.DisplayFor(model => article.Category)</dd>
    <dt>@Html.DisplayNameFor(model => article.Description)</dt>
    <dd>@Html.DisplayFor(model => article.Description)</dd>
    <dt>@Html.DisplayNameFor(model => article.Published)</dt>
    <dd>@Html.DisplayFor(model => article.Published)</dd>
    <dt>@Html.DisplayNameFor(model => model.Body)</dt>
    <dd>@Html.DisplayFor(model => model.Body)</dd>

</dl>
