@using MvcBasic.Models
@model IEnumerable<MvcBasic.Models.Article>

@{
    ViewBag.Title = "Search Result";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Search", "Linq", FormMethod.Get, new {@class = "form-inline"}))
{
    @Html.Label("keyword", "キーワード", new {@class="control-label"})
    @Html.TextBox("keyword", null, new {@class = "form-control"})
    @Html.Label("released", "公開済", new { @class = "control-label" })
    @Html.CheckBox("released")
    <input type="submit" value="検索" class="btn btn-info"/>
}

<hr/>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Summary)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(i => item.Title)
            </td>
            <td>
                @Html.DisplayFor(i => item.Summary)
            </td>
        </tr>

    }
</table>